<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <div *ngIf="onlyOdd">
        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let odd of oddNumbers">
            {{ odd }}
          </li>
        </ul>
      </div>
      <div  *ngIf="!onlyOdd">
        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let even of evenNumbers">
            {{ even }}
          </li>
        </ul>
      </div>
      <hr>
      <div>
        <ul class="list-group">
          <li
            class="list-group-item"
            [ngClass]="{odd: number % 2 == 1}"
            [ngStyle]="{backgroundColor: number % 2 == 1 ? 'yellow' : 'transparent'}"
            *ngFor="let number of numbers">
            {{ number }}
          </li>
        </ul>
      </div>
      <p appHighlight>Texto com fundo verde</p>
    </div>
  </div>
</div>