<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <button
        class="btn btn-danger"
        (click)="onChangeShowAll()"
        [ngClass] = "{ 'btn-danger': showAll, 'btn-primary': !showAll }"
        >{{ showAllText }}</button>
      <br><br>
      <button
      class="btn btn-info"
      (click)="defaultValue=1"
      >1</button>
      <button
      class="btn btn-info ms-2"
      (click)="defaultValue=5"
      >5</button>
      <button
      class="btn btn-info ms-2"
      (click)="defaultValue=10"
      >10</button>
     <br><br>
     <div [ngSwitch]="defaultValue">
      <p *ngSwitchCase="1">Value is 1</p>
      <p *ngSwitchCase="5">Value is 5</p>
      <p *ngSwitchCase="10">Value is 10</p>
      <p *ngSwitchDefault>Value is default</p>
     </div>
      <div *ngIf="onlyOdd">
        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let odd of oddNumbers">
            {{ odd }}
          </li>
        </ul>
      </div>
      <div  *ngIf="!onlyOdd">
        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let even of evenNumbers">
            {{ even }}
          </li>
        </ul>
      </div>
      <hr>
      <div *appToggle="showAll">
        <ul class="list-group">
          <li
            class="list-group-item"
            [ngClass]="{odd: number % 2 == 1}"
            [ngStyle]="{backgroundColor: number % 2 == 1 ? 'yellow' : 'transparent'}"
            *ngFor="let number of numbers">
            {{ number }}
          </li>
        </ul>
      </div>
      <!-- Attributes without [], it's ok.. like [highlightColor]="'red'" -->
      <p appHighlight defaultColor="cyan" highlightColor="red">Texto com fundo azul com o Renderer para não manipular o DOM diretamente!</p>
    </div>
  </div>
</div>